extends layout

block content
    div(class="jumbotron")
        div(class="container")
            h1
                |A Quick Tutorial
            h2
                |On how to integrate Social media experiance
